{% extends 'base.html' %}

{% block title %}Photo Gallery{% endblock %}

    {%block contents%}
    <main>

      <section class="py-5 text-center container">
      <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">
      海外旅行診断アプリ

      </h1>
      <p class="lead text-muted">次の海外旅行先に迷っているあなた！この診断アプリから旅のヒントを見つけてください！
      </p>
      <p>

      <a href="{% url 'photo:situation' %}" class="btn btn-primary btn-lg">GO！</a>


      </p>
      </div>
      </div>
      </section>

      </main>
    {% endblock %}