{% extends 'base.html' %}

{% block title %}Situation{% endblock %}

{% block contents %}
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Interest</h1>
          <p class="lead text-muted">今回の旅で求めているものを選んでください。</p>
          <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="field">
                {{ field.label_tag }}
                {% for choice in field %}
                  <label for="{{ choice.id_for_label }}">
                    {{ choice.tag }}
                    {{ choice.choice_label }}
                  </label>
                {% endfor %}
                {% if field.errors %}
                  <p class="help">{{ field.errors }}</p>
                {% endif %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg">次のページへ</button>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}