{% extends 'base.html' %}

{% block title %}Post{% endblock %}

    {%block contents%}

    <br>
    <div class="container">
        <div class="row">
            <div class="col offset-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>国</th>
                            <td>{{form.country}}</td>
                        </tr>
                        <tr>
                            <th>タイトル</th>
                            <td>{{form.title}}</td>
                        </tr>
                        <tr>
                            <th>画像1</th>
                            <td>{{form.image1}}</td>
                        </tr>
                        <tr>
                            <th>画像2</th>
                            <td>{{form.image2}}</td>
                        </tr>
                        <tr>
                            <th>画像3</th>
                            <td>{{form.image3}}</td>
                        </tr>
                        <tr>
                            <th>画像4</th>
                            <td>{{form.image4}}</td>
                        </tr>
                        <tr>
                            <th>コメント</th>
                            <td>{{form.comment}}</td>
                        </tr>
                        <tr>
                            <th>旅程</th>
                            <td>{{form.itinerary}}</td>
                        </tr>
                        <tr>
                            <th>おすすめの日数</th>
                            <td>{{form.days1}}～{{form.days2}}日間</td>
                        </tr>
                        <tr>
                            <th>おすすめの時期</th>
                            <td>{{form.season1}}～{{form.season2}}月</td>
                        </tr>
                        <tr>
                            <th>気分・目的</th>
                            <td>{{form.attribute}}～{{form.attribute}}</td>
                        </tr>
                    </table>
                    <hr>
                    <button type="submit">投稿する</button>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}