{% extends 'base.html' %}

{% block title %}Recommend{% endblock %}

{% block contents %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Recommend</h1>
                <p class="lead text-muted">
                    あなたにおすすめの国は、<span style="font-size: 30px;">{{ nearest_country_obj.country_name }}</span>です。
                </p>
                <div style="display: flex; justify-content: center; margin: 0 -15px;">
                    <img src="{{ nearest_country_obj.image.url }}" alt="{{ nearest_country_obj.country_name }} Image" style="height: 570px;">
                </div>
                <br>
                <p style="text-align: left; margin-left: 0; padding-left: 0;">{{ nearest_country_obj.comment }}</p>
                <div style="margin-top: 20px;">
                    {{ nearest_country_obj.map|safe }}
                </div>
            </div>
        </div>
        <div class="row py-lg-5">
                <div class="col text-center">
                    <form action="{% url 'photo:photo_index' %}">
                        <input type="submit" class="btn btn-primary btn-lg" value="みんなの投稿を見てみましょう！">
                    </form>
                </div>
        </div>
    </section>
</main>
{% endblock %}