{% extends 'base.html' %}

{% block title %}Photo Gallery{% endblock %}

    {%block contents%}
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Religion</h1>

                <p class="lead text-muted">興味のある宗教、言語を選んでください。
                </p>
                <p>


                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">冒険{{ attribute.adventure }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">自然{{ attribute.nature }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">建築物{{ attribute.architecture }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">癒し{{ attribute.healing }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">インスタ映え{{ attribute.instagram }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">女子旅{{ attribute.girls }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">料理{{ attribute.food }}</a>
                  <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">芸術{{ religion_form }}</a>


                </p>
              </div>
            </div>
          </section>




    </main>
    {% endblock %}