{% extends 'base.html' %}

{% block title %}Photo Gallery{% endblock %}

    {%block contents%}
    <main>

      <section class="py-5 text-center container">
      <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Situation</h1>
      
      <p class="lead text-muted">今のあなたの状況に１番あてはまるものを選んでください。
      </p>
      <p>
      
      
      <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">ストレスがたまっている{{ attribute.stress }}</a>
      <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">ハッピーな気分{{ attribute.happy }}</a>
      <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">エネルギーがある{{ attribute.energy }}</a>
      <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">人生に迷っている{{ attribute.astray }}</a>
      <a href="{% url 'photo:purpose' %}" class="btn btn-primary btn-lg">疲れている{{ attribute.tired }}</a>
      
      </p>
      </div>
      </div>
      </section>

      </main>
    {% endblock %}
